<footer class="text-center mt-auto">
  <div class="container">
    <p class="mb-0">
      <i class="bi bi-database-fill-gear me-1"></i> CRUD Express MongoDB 
      <i class="bi bi-dot"></i> 
      <i class="bi bi-c-circle"></i> 2026 - Tous droits réservés
    </p>
  </div>
</footer>