<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="bi bi-box-seam-fill me-2"></i>Gestion de Produits
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/products">
            <i class="bi bi-grid-3x3-gap-fill me-1"></i> Produits
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/create">
            <i class="bi bi-plus-circle-fill me-1"></i> Ajouter
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>